name: 04-using-actions
on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
      - name: Install Dependencies
        run: npm ci
        working-directory: 04_using_actions/react-app
    # we could have also dodne like run: | cd 04_using_actions/react-app
    # npm ci   
    # run command npm ci will run inside the working directory to get .json and lock-json. 
    # Checkout the repo code. 
    # Install Dependency of our react App.
    # Execute automated tests.
